* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

h1 {
  font-size: 48px;
  font-weight: 100px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: lighter;
}

h5 {
  font-size: 18px;
  font-weight: bold;
}

h6 {
  font-size: 14px;
  font-weight: lighter;
}
/* 기본 설정 끝 */

.header {
  display: flex;
  width: 1280px;
  margin: auto;
}

.logo {
  margin-right: 100px;
  margin-top: 24px;
}

.search_area {
  width: 950px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 24px;
  margin-right: 70px;
}

.search_area > form > input {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 630px;
  height: 40px;
  padding-left: 10px;
}

.search_area > form > span {
  width: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.sign {
  width: 80px;
  height: 30px;
  background-color: skyblue;
  color: black;
  margin: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
}

.banner {
  display: flex;
  justify-content: flex-start;
  width: 1280px;
  line-height: 86px;
}

.banner > li {
  margin-left: 183px;
}
/* 배너 끝 */

.main_text0 {
  width: 100%;
  height: 580px;
  background-color: lavender;
  margin-top: 0px;
}

.main_text0 > h1 {
  padding-top: 60px;
  text-align: center;
}

.main_text0 > h4 {
  text-align: center;
}

.icons {
  display: flex;
  width: 1280px;
  margin: auto;
}

.icons > li {
  flex: 1;
  height: 270px;
  background-color: floralwhite;
  margin-top: 49px;
  text-align: center;
}

.icons > li:not(:last-child) {
  margin-right: 20px;
}

.icons > li > .icon_image {
  margin-top: 18px;
}

.icons h5 {
  font-weight: bold;
}

.icons h6 {
  width: 270px;
  margin: auto;
  font-size: 15px;
}
