:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

.header {
  display: flex;
  width: 1280px;
  margin: auto;
}

.logo {
  margin-right: 100px;
  margin-top: 24px;
}

img.logo_img {
  margin-left: 2em;
}

.search_area {
  width: 50%;
  height: 40px;
  background: rgba(66, 65, 65, 0.267);
  border-radius: 5px;
  margin-top: 24px;
  margin-right: 70px;
}

.search_area > form > input {
  width: 90%;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  padding-left: 10px;
}

.search_area > form > span {
  width: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.sign {
  height: 30px;
  color: gray;
  margin: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
}

.banner {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  width: 1280px;
  line-height: 86px;
  align-items: center;
}
.banner > li {
  width: 100%;
}

.banner > li > div {
  text-align: center;
  line-height: 50px;
  border-right: 1px solid #e1e1e1;
}

.passage {
  margin-right: auto;
  margin-left: auto;
}

.product_head {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

img.card-img {
  width: 80%;
}
.container {
  width: 100%;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  margin-bottom: 3rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex: 0 0 auto;
  width: 100%;
  margin-bottom: 10%;
}

.product_head {
  margin-top: 1.5em;
}

.concept_title {
  font-weight: bold;
  font-size: 35px;
}

.product_img {
  /* width: 15%; */
  width: 90px;
  margin-right: 5%;
}
/* .product_description {
  display: inline-block;
} */

.concept_description {
  font-size: 15px;
}
.product_description {
  font-size: 15px;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-lg-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.col {
  flex: 1 0 0%;
}
.justify-content-center {
  justify-content: center !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.h-100 {
  height: 100% !important;
}

.card-img-top {
  width: 100%;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
