* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

.header {
  display: flex;
  width: 1280px;
  margin: auto;
}

.logo {
  margin-right: 100px;
  margin-top: 24px;
}

.search_area {
  width: 950px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 24px;
  margin-right: 70px;
}

.search_area > form > input {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 630px;
  height: 40px;
  padding-left: 10px;
}

.search_area > form > span {
  width: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.more {
  width: 80px;
  height: 30px;
  background-color: skyblue;
  color: black;
  margin: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
}

.banner {
  display: flex;
  justify-content: flex-start;
  width: 1280px;
  line-height: 86px;
}

.banner > li {
  margin-left: 183px;
}

.intro_text {
  width: 100%;
  margin: 231px auto 231px auto;
  text-align: center;
}

.intro_text > h1,
.intro_text > h4 {
  color: #fff;
}


/*Interior*/


.interior {
  background-color:#fff;
}

.interior > h1 {
  padding-top: 80px;
  text-align: center;
}

.interior > h4 {
  text-align: center;
}

.interior_image {
  display: flex;
  width: 1280px;
  margin: auto;
  margin-top: 50px;
}

.interior_image > li {
  flex: 1;
  height: 550px;
  width: 550px;
  background-color: #f1f2f3;
  margin-top: 49px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.interior_image > li:not(:last-child) {
  margin-right: 180px;
}

.interior_image > li > .icon_image {
  margin-top: 0px;
  cursor: pointer;
}

.interior_image > li > .icon_image:hover {
  opacity: 0.5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: opacity.5s linear;
}

.interior_image > li > .btn01 {
  font-size: 150px;
  position: absolute;
  top: 500px;
  left: 350px;
  color: #fff;
  opacity: 0;
  transform:scale(2);
  transition:all .3s linear;
}

.interior_image :hover .btn01 {
  opacity: 1;
  transform:scale(1);
}

.interior_image > li > .btn02 {
  font-size: 150px;
  position: absolute;
  top: 500px;
  left: 1080px;
  color: #fff; 
  opacity: 0;
  transform:scale(2);
  transition:all .3s linear;
}

.interior_image :hover .btn02 {
  opacity: 1;
  transform:scale(1);
}








.interior_image h5 {
  font-size: 30px;
  padding: 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.interior_image h6 {
  margin: auto;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin-top: 20px;
}

/*image02*/

.interior_image2 {
  display: flex;
  width: 1280px;
  margin: auto;
  margin-top: 50px;
}

.interior_image2 > li {
  flex: 1;
  height: 550px;
  width: 550px;
  background-color: #f1f2f3;
  margin-top: 49px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.interior_image2 > li:not(:last-child) {
  margin-right: 180px;
}

.interior_image2 > li > .icon_image {
  margin-top: 0px;
  cursor: pointer;
}

.interior_image2 > li > .icon_image:hover {
  opacity: 0.5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: opacity.5s linear;
}

.interior_image2 h5 {
  font-size: 30px;
  padding: 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.interior_image2 h6 {
  margin: auto;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin-top: 20px;
}

/* 버튼 */

.interior_image2 > li > .btn03 {
  font-size: 150px;
  position: absolute;
  top: 1155px;
  left: 350px;
  color: #fff;
  opacity: 0;
  transform:scale(2);
  transition:all .3s linear;
}

.interior_image2 :hover .btn03 {
  opacity: 1;
  transform:scale(1);
}

.interior_image2 > li > .btn04 {
  font-size: 150px;
  position: absolute;
  top: 1155px;
  left: 1080px;
  color: #fff; 
  opacity: 0;
  transform:scale(2);
  transition:all .3s linear;
}

.interior_image2 :hover .btn04 {
  opacity: 1;
  transform:scale(1);
}