*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

.header {
  display: flex;
  width: 1280px;
  margin: auto;
}

.logo {
  margin-right: 100px;
  margin-top: 24px;
}

img.logo_img {
  margin-left: 2em;
}

.search_area {
  width: 50%;
  height: 40px;
  background: rgba(66, 65, 65, 0.267);
  border-radius: 5px;
  margin-top: 24px;
  margin-right: 70px;
}

.search_area > form > input {
  width: 90%;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  padding-left: 10px;
}

.search_area > form > span {
  width: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.sign {
  height: 30px;
  color: gray;
  margin: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
}

.banner {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  width: 1280px;
  line-height: 86px;
  align-items: center;
}
.banner > li {
  width: 100%;
}

.banner > li > div {
  text-align: center;
  line-height: 50px;
  border-right: 1px solid #e1e1e1;
}
.post img {
  width: 80%;
}

.post {
  display: flex;
  flex-grow: 4;
  flex-direction: row;
  justify-content: space-around;

  flex: 0 0 auto;
  width: 100%;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
}
.post p {
  align-items: center;
}
